<% @title = "Home" %>
<% if signed_in? %>
<div class="row">
	<aside class="span4">
		<p>A <b>relationship</b> is the way in which two or more concepts, objects, or people are connected, or the state of being connected.</p>
		<section>
			<%= render 'shared/user_info' %>
			<%= render 'shared/stats' %>
		</section>
		<section>
			<% if signed_in? then %>
			<%= render 'shared/wallpost_form' %>
			<% end %>
		</section>
	</aside>
	<div class="span8">
      <h3>Your Relationships Feed</h3>
      <%= render 'shared/feed' %>
    </div>
</div>
<% else %>
<div class="center hero-unit">
	<h1>Welcome to The Real Deal</h1>

	<h2>This is the home page for <%= link_to "The Real Deal", help_path %>, an application for your typical Joe. </h2>
	<h2>This is under development and everything is subject to change. If you have any questions, comments, or considerations, <br/> please contact
		<%= mail_to "rszemplinski22@gmail.com" %> or <%= mail_to "ryanklimt@gmail.com" %>. </h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<% end %>
