<% @title = "Forums" %>

<h1> Threads </h1>

<ul>
<% @forums.each do |t| %>
  
  <li><%= link_to t.name, t %>
    <% if signed_in? and current_user.admin? %>
    | <%= link_to 'edit', edit_forum_path(t) %>
    | <%= link_to 'delete', t, method: :delete, data: { confirm: "You sure you want to delete the thread #{t.name}?" } %>
    <% end %>
  </li>
  <span><%= t.description %> </span>
  
<% end %>
</ul>

<% if signed_in? and current_user.admin? %>
  <%= link_to "New Thread", new_forum_path %>
<% end %>