<% @title = @topic.title %>

<h1> <%= @topic.title %> </h1>

<% for post in @topic.posts %>

  <p><%= post.user.username %>: <%= post.content %>
  <% if current_user?(post.user) then %>
    | <%= link_to "edit", edit_post_path(post) %>
  <% end %>
  <% if current_user.admin? or current_user?(post.user) then %>
      | <%= link_to "delete", post, method: :delete, data: { confirm: "You sure you want to delete this post?" } %>
  <% end %></p>

<% end %>

<%= link_to "New Post", new_topic_post_path(@topic) %>