<% @title = "Edit " + @user.username.humanize %>

<h1>Edit <%= @user.username.humanize %></h1>

<% if @user.errors.any? %>
    <div class="alert alert-danger"> 
    <p>The form contains <%= pluralize(@user.errors.count, "error") %>.</p>
    </div>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li class="text-danger"> <%= message %> </li>
      <% end %>
    </ul>
<% end %>

<%= form_for @user do |f| %>
<div class='form-group'>
	<%= f.label :firstname, "First Name" %>
	<%= f.text_field :firstname, class: 'form-control' %>
</div>
<div class='form-group'>
	<%= f.label :lastname, "Last Name" %>
	<%= f.text_field :lastname, class: 'form-control' %>
</div>
<div class='form-group'>
	<%= f.label :username, "Username*" %>
	<%= f.text_field :username, class: 'form-control' %>
</div>
<div class='form-group'>
	<%= f.label :email, "Email*" %>
	<%= f.text_field :email, class: 'form-control' %>
</div>
<div class='form-group'>
	<%= f.label :private, "Privacy" %>
	<%= f.check_box :private, class: 'form-control' %>
</div>

<%= f.submit "Update Profile", class: "btn btn-primary" %>
<% end %>

