<% @title = @user.username + "'s" + " Profile"%>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
      <span><b>Email: </b><%= @user.email %></span>
      <span><b>First Name: </b><%= @user.firstname %></span>
      <span><b>Last Name: </b><%= @user.lastname %></span>
    </section>
  </aside>
  
  <div class="span8">
    <% if @user.wallposts.any? %>
      <h3><%= "Post".pluralize(@user.wallposts.count)%>(<%= @user.wallposts.count %>)</h3>
      <ol class="microposts">
        <%= render @wallposts %>
      </ol>
      <%= will_paginate @wallposts %>
    <% end %>
  </div>
</div>
