<% @title = @user.username + "'s" + " Profile"%>

<div class="row">
	
  <aside class="span4">
    <section>
      <h1>
        <%= link_to gravatar_for(@user, 120), @user.username %>
        <%= @user.username %>
      </h1>
      <% if !@user.email.nil? && !@user.email.empty? %><span><b>Email: </b><%= @user.email %></span><% end %>
      <% if !@user.firstname.nil? && !@user.firstname.empty? %><span><b>First Name: </b><%= @user.firstname %></span><% end %>
      <% if !@user.lastname.nil? && !@user.lastname.empty? %><span><b>Last Name: </b><%= @user.lastname %></span><% end %>
      <% if !@user.bio.nil? && !@user.bio.empty? %><span><b>Bio: </b><%= @user.bio %></span><% end %>
      <span><b>Status: </b><%= @user.status %></span>
      <%= render 'follow_form' if signed_in? %>
      <%= render 'admin' if current_user.admin? %>
	</section>
   	<%= render 'shared/stats' %>
	<%= render 'shared/wallpost_form' %>
  </aside>
  
  <div class="span8">
    <% if @user.wallposts.any? %>
      <ol class="microposts">
        <%= render @wallposts %>
      </ol>
      <%= will_paginate @wallposts %>
    <% end %>
  </div>
  
</div>