<% @title = @user.username.humanize + "'s" + " Profile"%>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for(@user, 120) %>
        <%= @user.username.humanize %>
      </h1>
      <span><b>Email: </b><%= @user.email %></span>
      <span><b>First Name: </b><%= @user.firstname %></span>
      <span><b>Last Name: </b><%= @user.lastname %></span>
	</section>
   	<%= render 'shared/stats' %>
	<% if current_user?(@user) then %>
		<%= render 'shared/wallpost_form' %>
	<% end %>
  </aside>
  
  <div class="span8">
  	<%= render 'admin' if current_user.admin? %>
  	<%= render 'follow_form' if signed_in? %>
    <% if @user.wallposts.any? %>
      <h3><%= "Post".pluralize(@user.wallposts.count)%>(<%= @user.wallposts.count %>)</h3>
      <ol class="microposts">
        <%= render @wallposts %>
      </ol>
      <%= will_paginate @wallposts %>
    <% end %>
  </div>
</div>