<% if !@sub_items.nil? && !@sub_items.empty? %>
  <ol class="subscriptions">
    <% @sub_items.each do |sub| %>
    	<p class = <%= sub.id.to_s %>>
    	<%= link_to sub.subforum.name, sub.subforum %>
    		<% if sub.subforum.topics.any? then %>
	    		<ul>
		    		<% sub.subforum.topics.each do |topic| %>
		    			<li><%= link_to topic.title, topic %></li>
		    		<% end %>
	    		</ul>
    		<% end %>
    	</p>
    <% end %>
  </ol>
  <%= will_paginate @sub_items %>
<% else %>
	<p>Sorry. Unfortunately you have no subscriptions. <%= link_to "Follow one now!", forums_path %></p>
<% end %>