<% @title = @subforum.name %>

<h1><%= @subforum.name %> </h1>

<span>&laquo;<%= link_to " Back", forum_path(@subforum.forum_id) %></span>

<%= render "subscription_form" %>

<% for topic in @subforum.topics %>

	<li>Title: <%= link_to topic.title, topic %>
		<% if (signed_in? and current_user.admin?) or current_user?(topic.user) then %>
	      | <%= link_to 'delete', topic, method: :delete, data: { confirm: "You sure you want to delete #{topic.title}?" } %>
	    <% end %>
	</li>

<% end %>

<p><%= link_to "New Topic", new_subforum_topic_path(@subforum.id) %></p>