<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Ultimate Beta", root_path, id: "logo" %><em id="logo" style="color:gray;">V: 1.0</em>
      <nav>
        <ul class="nav">
          <% if signed_in? %>
          	  <li class='pull-right'><%= link_to "Sign out", logout_path, method: "delete" %></li>
              <li class='pull-right'><%= link_to "Settings", settings_path %></li>
              <li class='pull-right'><%= link_to "Users", users_path %></li>
              <li class='pull-right'><%= link_to "Profile", user_path(current_user.username) %></li>
          <% else %>
            <li class='pull-right'><%= link_to "Sign in", login_path %></li>
          <% end %>
          <li class='pull-right'><%= link_to "Forums", forums_path %></li>
          <li class='pull-right'><%= link_to "Home", root_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>